# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env

# Data files
data/raw/*.csv
data/processed/*.csv
anomalies_*.csv
anomalies.csv

# IDE
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log 