pandas==2.0.0
numpy==1.23.5
scikit-learn==1.2.0
web3==6.11.1
eth-typing==3.5.1
eth-utils>=2.1.0
eth-abi>=4.0.0
streamlit==1.29.0
python-dotenv==1.0.0
jupyter==1.0.0
tqdm==4.65.0
matplotlib==3.7.1
seaborn==0.12.2
mlflow==2.9.2
pytest==7.3.1
pytest-cov==4.1.0
